.cap{
  text-transform: capitalize;
}

.navbar fixed-top navbar-expand-lg navbar-light bg-light{
  font-family: 'Roboto Mono', monospace;
}
.navbar-brand{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.5em;
}
.header{
  margin-top: 3%;
  padding: 1rem 0 1rem 0;
  background: rgb(2, 180, 20);
  border: solid rgb(2, 180, 20);
}

.red{
  border: solid red;
}

.top{
  background-color: rgb(2, 180, 20);
  padding: 5rem 0 2rem 0;
  border: solid rgb(2, 180, 20);
}

.title{
  background-color: white;
  font-family: 'Roboto Mono', monospace;
}

#name{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
.menu{
  background: rgb(2, 180, 20);
  border: solid rgb(2, 180, 20);
}

.info{
  text-align: center;
  border: 1px solid grey;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.middle{
  padding-left: 5rem;
  padding-right: 5rem;
}
/*--------------------Dropdown----------------------------*/
.dropbtn{
  background-color: rgb(2, 180, 20);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgb(2, 180, 20);
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content ul {
  min-width: 100%;
  overflow: auto;
  padding-left: 0;
}
.dropdown-content li {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;


}


.dropdown-content a:hover {background-color: rgb(2, 110, 6);}

.dropdown-content li:hover {background-color: rgb(2, 110, 6);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(2, 110, 6);}


/* ----------------------------Images------------------------ */


.thumb{
  display:block;
  margin: 0 auto 0 auto;
  max-width: 300px;
}
